div#navbar div {
display: inline-block;
width: 190px;
text-align:center;
}

#navbar {
width: 1000px;
margin: 0 auto;
border-bottom: 3px solid #0099FF;
}

canvas {
padding-left: 0;
    padding-right: 0;
	padding-top: 100;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
font-weight: bold;
color: #000099;
}

h2 {
color: blue;
}

h3 {
color:#0099FF;
}

h1,h2,h3 {
margin: 0;
line-height: 40px;
}
